<html>
<head>
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="tweeter.css">
  <link rel="stylesheet" type="text/css" href="https://ghinda.net/css-toggle-switch/dist/toggle-switch.css">
  <script type=text/javascript>
    function clear_node(node_name)
    {
      var node = document.getElementById(node_name);
      while (node.hasChildNodes()) {
        node.removeChild(node.lastChild);
      }
      return node;
    }
  
    function load_page(read=null)
    {
      var params = {list: current_value('lists_select')};
      if(read!==null)
        params['read'] = read;
      var user = current_value('users_select');
      if(user)
        params['user'] = user;
        
      params['mode'] = $('input[name=mode_input]:checked').val();

      $.getJSON('/interact', params, function(data) {
        load_tweet(data.id, data.retweeter, data.id2);
        load_img(data.extra_img);
        load_lists(data.lists, 'lists');
        load_lists(data.users, 'users');
      });
    }
  
  
    document.addEventListener("keydown", keyDownTextField, false);
    function keyDownTextField(e) {
      if(e.keyCode==76){
        read = false;
      }else if (e.keyCode==32) {
        read = true;
      }else{
        return;
      }
      load_page(read);      
    }
    
    function load_from_twitter(id, element, error)
    {
      var o = $.getJSON("https://api.twitter.com/1/statuses/oembed.json?id=" + id + "&align=left&callback=?",
        function(data){ $(element).html(data.html);});
      if(error)
        o.error(error);
    }
    
    function load_tweet(id, retweeter, id2)
    {
      if(id){
        load_from_twitter(id, '#tweet', 
        function(a,b,c){ 
          $.getJSON("/formatted", function(data){ $('#tweet').html(data.html) });
        });
      }else{        
        clear_node('tweet');
      }
      if(retweeter){
        $('#rt').html('@' + retweeter + ' retweeted');
      }else{
        clear_node('rt');
      }
      if(id2){
        load_from_twitter(id2, '#tweet2');
      }else{        
        clear_node('tweet2');
      }
    }
    
    function load_img(extra_img)
    {
        var img = document.getElementById('tweet_img');
        if(extra_img){
            img.setAttribute('src', extra_img);
        }else{
            img.setAttribute('src', '');
        }
    }
    
    function create_option(name, size, selected, parent_name, clear_link)
    {
      var line = document.createElement('li');
      var input = document.createElement('input');
      input.setAttribute('type', 'radio');
      input.setAttribute('name', parent_name);
      input.setAttribute('id', parent_name);
      input.setAttribute('value', name);
      if(selected==name){
        input.setAttribute('checked', 'checked');
      }
      input.setAttribute('onclick', 'load_page()');
      line.appendChild(input);
      var label = document.createElement('label');
      label.setAttribute('for', name);
      label.appendChild(document.createTextNode(name + " (" + size + ") "));
      line.appendChild(label);
      
      if(clear_link){
        var button = document.createElement('button');
        button.setAttribute('type', 'button');
        button.onclick = function() { query_mark(name) };
        button.appendChild(document.createTextNode('x'));
        line.appendChild(button);
      }
      
      var div = document.createElement('div');
      div.setAttribute('class', 'check');
      line.appendChild(div);    
      return line;    
    }
    
    function current_value(name){
      var node = document.getElementById(name);
      if(!node) return node;      
      var selector = document.querySelector('input[name="' + name + '"]:checked');
      if(selector){
        return selector.value;
      }
      return 'all';
    }
    
    function load_lists(L, element_name)
    {
      var parent_name = element_name + "_select";
      var selected = current_value(parent_name);
      var node = clear_node(element_name);
      if(!L || L.length==0)
        return;
      if(!selected)
        selected = 'all';
      var ul = document.createElement('ul');
      var total = 0;
      for(var i in L)
      {
        var name = L[i][0];
        var size = L[i][1];
        total += size;
        
        ul.appendChild(create_option(name, size, selected, parent_name, element_name=='users'));
      }
      ul.insertBefore(create_option('all', total, selected, parent_name, undefined), ul.childNodes[0]);
      
      node.appendChild(ul);
    }
    
    function update(){
      $.getJSON("/update",
        function(data){ 
          $('#status').html(data.message);
          load_page();
          });
    }
    
    function save_to_disk(){
      $.getJSON("/write",
        function(data){ 
          $('#status').html(data.message);
          });
    }
    
    function clear_progress(){
      $.getJSON("/clear",
        function(data){ 
          $('#status').html(data.message);
          load_page();
          });
    }
    
    function query_mark(name){
      if (confirm('Are you sure you mark ' + name + ' as read?')) {
        $.getJSON("/mark?user=" + name,
          function(data){ 
            load_page();
          });
      }
    }

  $(function() {
    var node = document.getElementById('mode_switch');
    var modes = ["fresh", "full", "all"];
    for(var i=0;i<modes.length;i++){
      var mode = modes[i];
      var input = document.createElement('input');
      input.setAttribute('type', 'radio');
      input.setAttribute('name', 'mode_input');
      input.setAttribute('id', mode);
      input.setAttribute('value', mode);
      input.setAttribute('onclick', 'load_page()');
      if(i==0){
        input.setAttribute('checked', 'checked');
      }
      node.appendChild(input);
      
      var label = document.createElement('label');
      label.setAttribute('for', mode);
      label.appendChild(document.createTextNode(mode));
      node.appendChild(label);
    }
    
    node.appendChild(document.createElement('a'));
    load_page();
  });
  </script>
</head>
<body>
  <table width="100%">
    <tr>
      <td width="20%"><button type="button" onclick="update()">Update</button>
          <button type="button" onclick="save_to_disk()">Write</button>
          <button type="button" onclick="clear_progress()">Clear Progress</button>
          <div id='lists' class="lists"></div>
          <div id='users' class="lists"></div>
          
          <div id="mode_switch" class="switch-toggle switch-3 switch-candy">
          </div>
          
          <div id='status'></div>
      <td><div id='rt'></div>  
          <div id='tweet'></div>  
          <div id='tweet2'></div>  
          <img id='tweet_img'/>
    </tr>
  </table>
</body>
</html>